<a href="https://colab.research.google.com/github/MaxenceAr/R-ponses_entrainement_code/blob/main/reponses_entrainement_base_code_java.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Numpy

In [ ]:
import numpy as np
vecteur=np.array([2,1,5])

In [ ]:
vecteur_trie = np.sort(vecteur)

In [ ]:
vecteur=np.array([2,1,5], dtype="int")

In [ ]:
np.ones((3, 5), dtype=float)

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [ ]:
x = np.arange(10)

In [ ]:
print(x)

[0 1 2 3 4 5 6 7 8 9]

In [ ]:
x[0:10:2]

array([0, 2, 4, 6, 8])

In [ ]:
x[4:9]

array([4, 5, 6, 7, 8])

Observer ce qui suit

In [ ]:
x2 = np.array([[-1,1,-2],[-3,2,0]])
print(x2)

[[-1  1 -2]
 [-3  2  0]]

In [ ]:
print(x2<0)

[[ True False  True]
 [ True False False]]

In [ ]:
x = np.random.normal(size=10000)

# Conserver les valeurs dont la valeur absolue est supérieure à 1.96
valeurs_superieures = x[x > 1.96]

# Compter le nombre de valeurs supérieures à 1.96 en valeur absolue
nombre_valeurs_superieures = len(valeurs_superieures)

# Calculer la proportion dans l'ensemble initial
proportion_superieure = nombre_valeurs_superieures / len(x)

print(valeurs_superieures)
print(proportion_superieure)

[2.32010563 2.39170953 2.87423571 2.40663879 2.18980476 2.13402053
 2.51954735 2.15122617 2.22290683 2.38049275 3.1680327  2.22256287
 2.10508654 1.99281572 1.99387742 2.20710779 2.54751971 3.30442186
 2.59817329 2.3708682  2.00419694 2.09020668 2.01582733 1.97269099
 2.37649677 2.27537471 1.98334328 2.02616837 2.45092658 2.12542461
 2.11606466 1.99156677 2.88255975 2.19092701 2.0295003  2.17260639
 3.28750621 2.24439749 2.05613004 2.03309459 2.42756019 2.35238919
 1.99238702 3.24424481 2.11941323 2.89457901 2.79981946 2.26454572
 3.11513049 2.33559184 2.12551352 2.02645021 2.13804974 2.15357343
 2.05624285 2.52695103 2.58409554 2.07269049 2.62703549 1.99983278
 2.37804966 2.11494058 2.03899123 2.73386865 2.26449122 2.23964716
 2.02862998 2.4441567  2.39875831 1.99624453 2.21009912 2.20185221
 2.00453741 2.2035372  1.99328696 2.58622483 2.03894596 2.55614362
 2.98515343 2.31057263 2.08845023 2.20804315 2.02344646 2.66564759
 3.04566581 2.18240624 2.5517683  1.99504283 2.7552337  1.96846461
 2.08243054 2.19352138 2.44813747 2.14948962 2.01158893 2.57188469
 2.44184172 2.04037029 2.56687213 2.04439245 2.1967991  2.1955474
 3.00961287 2.15841458 1.96471042 2.1301656  2.89082818 2.04203156
 2.80313939 2.27914154 2.05425201 2.04997487 2.0300627  2.08469351
 2.10058782 2.94431731 2.66525863 2.44015127 1.97216142 2.61576508
 3.11214981 2.64529191 3.07509394 1.96525017 2.19364827 2.12209982
 2.31910185 2.0634054  1.9999157  2.87817853 2.48984428 2.01824724
 2.18658737 2.14553751 2.45191632 2.52299999 2.56405962 2.00758196
 2.59017387 2.24964037 2.07503275 2.29250176 2.33470369 2.06619484
 2.45362397 1.96501521 2.28446117 2.43802863 2.15093908 2.22420089
 2.85113772 2.71968459 2.19877671 2.44222915 2.0050721  2.0691699
 2.97810747 2.17277613 2.17530284 2.18368756 2.23468341 2.06185268
 2.37112682 2.62496445 2.34913035 2.2290937  2.60574072 2.44218373
 1.97226488 2.80959216 2.4166258  2.14171041 2.0412559  2.46860353
 2.28674496 2.22637952 2.15263318 1.98700486 2.89261937 2.08312758
 2.14001205 1.98703818 2.4898309  3.17120524 2.08715461 2.348017
 1.96679351 2.4833416  2.26153116 2.9846741  2.34215095 2.00585925
 2.00648614 2.38795892 2.17510127 2.42352337 2.0285512  2.14910949
 2.00728724 2.92193313 2.15206615 2.3690902  2.45455346 1.98501489
 2.04607429 2.67723511 2.40602571 2.18534436 3.09642128 1.99898888
 1.98826712 2.51931501 2.02946446 2.77451761 2.42067048 2.26607997
 2.48453584 2.24198331 2.30989973 1.96652724 2.13323917 3.20095139
 2.1083124  2.21210214 2.92674324 2.68385832 2.02420348 2.95913399
 3.03699905 2.01058808 2.64969134 2.16961466 2.72498705]
0.0233

# Panda**s**

In [ ]:
import pandas as pd
chemin_fichier = '/content/sample_data/GES par commune ADEME.csv'
GES_ADEME=pd.read_csv(chemin_fichier)
#Le data frame s'appelle maintenant GES_ADEME

In [ ]:
GES_ADEME.head(7)

,INSEE commune,Commune,Agriculture,Autres transports,Autres transports international,CO2 biomasse hors-total,Déchets,Energie,Industrie hors-énergie,Résidentiel,Routier,Tertiaire
0,01001,L'ABERGEMENT-CLEMENCIAT,3711.425991,NaN,NaN,432.751835,101.430476,2.354558,6.911213,309.358195,793.156501,367.036172
1,01002,L'ABERGEMENT-DE-VAREY,475.330205,NaN,NaN,140.741660,140.675439,2.354558,6.911213,104.866444,348.997893,112.934207
2,01004,AMBERIEU-EN-BUGEY,499.043526,212.577908,NaN,10313.446515,5314.314445,998.332482,2930.354461,16616.822534,15642.420313,10732.376934
3,01005,AMBERIEUX-EN-DOMBES,1859.160954,NaN,NaN,1144.429311,216.217508,94.182310,276.448534,663.683146,1756.341319,782.404357
4,01006,AMBLEON,448.966808,NaN,NaN,77.033834,48.401549,NaN,NaN,43.714019,398.786800,51.681756
5,01007,AMBRONAY,4390.996698,132.968268,NaN,3067.245459,6144.186081,122.437003,359.383094,1898.638273,22481.123575,2789.133106
6,01008,AMBUTRIX,489.648726,60.233517,NaN,558.055709,98.388885,2.354558,6.911213,495.393592,3616.168396,356.029873

In [ ]:
x = pd.DataFrame(
    {'prix': np.random.uniform(size = 5),
     'quantite': [i+1 for i in range(5)]
    },
    index = ['yaourt','pates','riz','tomates','gateaux']
)

In [ ]:
y = pd.DataFrame(
    {'prix': [np.nan, 0, 1, 2, 3],
     'quantite': [i+1 for i in range(5)]
    },
    index = ['tomates','yaourt','gateaux','pates','riz']
)
y

In [ ]:
print(x+y)

Il est possible de supprimer les valeurs manquantes grâce à dropna(). Cette méthode va supprimer toutes les lignes où il y a au moins une valeur manquante. Il est aussi possible de supprimer seulement les colonnes où il y a des valeurs manquantes dans un DataFrame avec dropna() avec le paramètre axis=1 (par défaut égal à 0).

In [ ]:
GES_ADEME.shape

In [ ]:
GES_ADEME['Commune'].nunique()
#GES_ADEME.nunique() pour toutes les colonnes en même temps.

In [ ]:
GES_ADEME.columns

In [ ]:
GES_ADEME.describe()

In [ ]:
GES_ADEME.isna().sum()

In [ ]:
print(GES_ADEME['Commune'])

In [ ]:
print(GES_ADEME.iloc[1, :])

In [ ]:
GES_ADEME['x'] = np.log(df['Agriculture'])

In [ ]:
GES_ADEME[GES_ADEME['Agriculture']>2000]

df[['Autres transports','Energie']]

table1.merge(table2, left_on = 'id', right_on = 'x')

In [ ]:
GES_ADEME = GES_ADEME.sort_values("Résidentiel", ascending = False)

In [ ]:
GES_ADEME[GES_ADEME['Commune'].apply(lambda s: len(s)>40)]

En Python, le mot-clé lambda est utilisé pour déclarer une fonction anonyme, raison pour laquelle ces fonctions sont appelées « fonctions lambda«.

Syntaxe :lambda arguments: expression

De façon générale les fonctions anonymes sont utilisées lorsqu’il n’est pas nécessaire de nommer une fonction. En effet, il y a aucun intérêt de nommer une fonction qu’on utilisera qu’une fois 🤔. Mieux, on peut dire que l’utilisation de fonctions lambda est une question de style. Leur utilisation n’est jamais la seule façon de résoudre un problème ; chaque fonction anonyme pourrait plutôt être définie comme une fonction classique (régulière).

# Graphes

In [ ]:
GES_ADEME_without_balance.hist(figsize=(20,15))
plt.show()

# ML